@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
	font-family: "Open Sans", Century Gothic, Apple Gothic, sans-serif;
	line-height: 1.3em;
}

#title {
	font-size: large;
	font-family: "Open Sans Semibold", Century Gothic, Apple Gothic, sans-serif;
	font-weight: 600;
	line-height: 2em;
}

.chorus-text {
	padding: 10px;
	border-radius: 7px;
	border: 3px solid #D4D9DB;
	display: inline-block;
}



#songpart {
	line-height: 1.2em;
	font-family: "Open Sans Semibold", Century Gothic, Apple Gothic, sans-serif;
	font-weight: 600;
	font-style: italic;
	padding-top: 15px;
	padding-bottom: 15px;
	font-size: 85%;
}

#songpart::after {
	content: ":";
}

#copyright::before {
	content: "\00a9 ";
}

#copyright {
	font-size: x-small;
	line-height: 1.2 !important;
        padding-bottom: 30px;
}

#ccli::before {
	content: "CCLI: ";
}

#ccli {
	font-size: x-small;
	line-height: 1.2 !important
}

#key::before {
	content: "Tonart: "
}

#key {
	line-height: 2em;
	float: right;
}

#artist {
	font-size: small;
	line-height: 1em;
	padding-bottom: 10px;
}

.lyrics {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

@media print {
	@page {
		size: portrait;
	}
	.song {
		-webkit-column-break-inside: avoid !important;
		break-inside: avoid !important;
		page-break-inside: avoid !important;
		page-break-after: avoid !important;
		page-break-before: avoid !important;
                padding: 0px;
		
	}
	.keyTitleArtistSong {
		-webkit-column-break-inside: avoid !important;
		break-inside: avoid !important;
		page-break-inside: avoid !important;
	}
}
