* {
	font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
	line-height: 3em;
}

#title {
	font-size: large;
	font-weight: bold;
	padding-bottom: 0px;
}

.chorus-text {
	border-style: solid;
	border-width: thin;
	border-color: #FF0000;
	padding: 5px;
}

.chorus {
	padding-left: 20px;
	padding-top: 10px;
	padding-bottom: 20px;
}

#ccli::before {
	content: "CCLI: ";
}

#copyright::before {
	content: "\00a9 ";
}

#copyright {
	font-size: x-small;
	line-height: 1.2 !important
}

#ccli {
	font-size: x-small;
	line-height: 1.2 !important
}

#artist {
	font-size: small;
	padding-bottom: 10px;
}

.lyrics{
line-height:3em;
font-family: "Century Gothic",CenturyGothic,AppleGothic,sans-serif;}

.chord {
  position:relative;
}
.chord::before{
  content:attr(chord);
  position:absolute;
  font-weight: bold;
  bottom: .2em;
  text-align:left;
  color:red;
}

.chord-block {
  position:relative;
}

.chord-block::before{
  content:attr(chord);
  position:relative;
  font-weight: bold;
  bottom: 1.0em;
  text-align:left;
  display: inline-block;
  color:red;
}

.chord-space {
  position:relative;
  padding-right: 1.0em;
}

.chord-space::before{
  content:attr(chord);
  position:absolute;
  font-weight: bold;
  bottom: .2em;
  padding-right: 1.0em;
  text-align:left;
  color:red;
}